<form action="/cources/stored" method="POST">
        <div class="mt-4">
            <h2>ĐĂNG KÝ KHÓA HỌC</h2>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                    type="text"
                    class="form-control"
                    name="name"
                    form-control="name"
                    placeholder="Hoc NodeJs"
                />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input
                    type="text"
                    class="form-control"
                    name="description"
                    id="description"
                    placeholder="description"
                />
            </div>
            
            <div class="mb-3">
                <label for="videoLink" class="form-label">videoLink</label>
                <input
                    type="text"
                    class="form-control"
                    name="videoLink"
                    id="videoLink"
                    placeholder="27/10/2023"
                />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>
        </div>
    </form>