<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='/'>F8 Education</a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto'>
       <img class="avatar" src="https://img.meta.com.vn/Data/image/2022/01/13/anh-dep-thien-nhien-3.jpg">
        <li class='nav-item dropdown'>
          <a
            class='nav-link dropdown-toggle'
            href='#'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
          </a>
          
          <ul class='dropdown-menu change' id='avatarDropdown'>
            <li><a class='dropdown-item' href='/cources/create'>Đăng ký khóa học</a></li>
            <li><hr class='dropdown-divider' /></li>
            <li><a class='dropdown-item' href='/cources/update'>Cập nhật khóa học</a></li>
            <li><hr class='dropdown-divider' /></li>
            <li><a class='dropdown-item' href='/news'>Bài viết của tôi</a></li>
            <li><hr class='dropdown-divider' /></li>
            <li><a class='dropdown-item' href='/signout'>Đăng xuất</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>
</nav>


